<div class="login-container">
  <div class="image-section">
    <div class="overlay">
      <!-- Puedes agregar algún contenido aquí si deseas -->
    </div>
  </div>
  <div class="form-section">
    <img src="../../assets/images/logo_grh (1).svg" alt="Logo" class="logo">
    <h2>Bienvenido</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="p-field">
        <label for="documentType">Tipo de Documento</label>
        <select id="documentType" name="documentType" [(ngModel)]="selectedDocumentType" required>
          <option value="" disabled selected>Ingrese su tipo de identificación</option>
          <option *ngFor="let type of documentTypes" [ngValue]="type">{{ type.label }}</option>
        </select>
      </div>

      <div class="p-field">
        <label for="documentNumber">Número de identificación</label>
        <input
          pInputText
          id="documentNumber"
          name="documentNumber"
          type="text"
          placeholder="Ingrese su número de identificación"
          [(ngModel)]="documentNumber"
          required
        />
      </div>

      <div class="p-field">
        <label for="password">Contraseña</label>
        <input
          pInputText
          id="password"
          name="password"
          [(ngModel)]="password"
          type="password"
          placeholder="Ingrese su contraseña"
          required
        />
      </div>
      <div *ngIf="loginForm.submitted && errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button pButton type="submit" label="Iniciar Sesión" class="p-mt-2"></button>

      <div class="forgot-password">
        <a (click)="navigateToLoginRestablecer()">¿Olvidaste tu contraseña?</a>
      </div>

    </form>
  </div>
</div>

