<div class="login-container">
  <div class="image-section">
    <div class="overlay">
      <!-- Puedes agregar algún contenido aquí si deseas -->
    </div>
  </div>
  <div class="form-section">
      <img src="../../assets/images/logo_grh (1).svg" alt="Logo" class="logo"> 
    <h2>Restablece tu contraseña</h2>
    <h5>
      Ingresa tu correo y te enviaremos las instrucciones para restablecer tu
      contraseña
    </h5>

    <form (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="email"> </label>
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            pInputText
            id="email"
            type="email"
            placeholder="Ingrese su Correo Electrónico"
            required
            name="email"
            [(ngModel)]="email"
          />
        </span>
      </div>

      <!-- Mensaje de error utilizando p-message -->
      <div *ngIf="errorMessage" class="card">
        <p-message severity="error" text="{{ errorMessage }}"></p-message>
      </div>

      <button pButton type="submit" label="ENVIAR" class="p-mt-2"></button>

      <div class="return-home">
        <a (click)="navigateToDatateam()">
          <i class="pi pi-arrow-left"></i> Vuelve a la pantalla de Inicio de
          Sesión
        </a>
      </div>
    </form>
  </div>
</div>