@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "primeicons/primeicons.css";

body, .login-container, .form-section, form, label, input, .p-button {
  font-family: 'Roboto', sans-serif;
}

.login-container {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  height: 95vh;
  overflow: hidden;
  margin-top: 10px;
  justify-items: center;
  align-items: center;
}

.image-section {
  background: url('../../assets/images/loginfoto.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-left: 60px; /* Espacio a la izquierda */
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(120, 145, 221, 0.5);
  border-radius: 20px;
  display: grid;
  place-items: center;
}

/* Sección del formulario */
.form-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 380px;
  margin-left: 40px;
}

.logo {
  max-width: 230px;
  height: auto;
  padding: 8px 20px;
  margin-top: 30px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--gris-1);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}

.p-field {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

label {
  font-weight: 450;
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--gris-2);
}

input::placeholder {
  color: var(--gris-5);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-field-checkbox {
  display: flex;
  align-items: center;
  gap: 4px; /* Espacio entre el checkbox y el texto */
  margin-top: 5px;
}

.p-field-checkbox input[type="checkbox"] {
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  accent-color: var(--azul-brillante); /* Color del checkbox cuando esté seleccionado */
  border: 2px solid var(--azul-brillante); /* Color de borde cuando no está seleccionado */
  background-color: white; /* Fondo blanco cuando no está seleccionado */
  appearance: none; /* Eliminar el estilo predeterminado del navegador */
  position: relative;
}

/* Estilo para el checkbox cuando está seleccionado */
.p-field-checkbox input[type="checkbox"]:checked {
  background-color: var(--azul-brillante); /* Fondo azul brillante cuando está seleccionado */
  border-color: var(--azul-brillante); /* Borde azul brillante cuando está seleccionado */
}

/* Estilo para el checkmark */
.p-field-checkbox input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white; /* Color del checkmark */
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}



.p-field-checkbox label {
  font-size: 11px;
  cursor: pointer;
  margin-top: 5px;
  color: var(--azul-brillante); /* Asumiendo que esta variable esté definida */
}


input, .p-button {
  width: 100%;
  height: 36px;
  padding: 6px;
  border: 1px solid var(--gris-4);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 11px;
}

.p-button {
  background-color: var(--azul);
  color: var(--white);
  border: none;
  font-size: 15px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.p-button:hover {
  background-color: var(--azul-hover) !important;
}

.forgot-password {
  margin-top: 24px;
  text-align: center;
  cursor: pointer;
}

.forgot-password a {
  font-size: 11px;
  color: var(--azul);
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

input:focus, .p-button:focus {
  border-color: var(--azul) !important;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-wrapper i, .input-wrapper span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--gris-5);
}

.input-wrapper span {
  left: 6px !important;
}

.input-wrapper input {
  padding-left: 32px; /* Espacio para el ícono */
}


.input-wrapper span.material-symbols-outlined {
  font-size: 20px; /* Aumenta el tamaño según necesidad */
}
